<!DOCTYPE html>
<html>
<head>
	<title>Job Apply</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 674174620149314;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>

<form id="form" action="../jobapply" method="post" class="bg-primary text-white">  
   <h1 style="color:white; text-align:center; font-size:26px; font-weight: bold;">Job Apply</h1><br>  

<div class="form-group">
   <label for="name" style="font-weight: bold; color:white; text-align:center;">UserName:</label>
   <input type="text" name="name" placeholder="Enter your Name" style="width:390px;margin-left:7px;" required/>
</div>

<div class="form-group">
   <label for="email" style="font-weight: bold; color:white; text-align:center;">Email:</label>
   <input type="email" name="email" placeholder="Enter your Email" style="width:390px;margin-left:7px;" required/>
</div>

<div class="form-group">
    <label for="phone" style="font-weight: bold; color:white; text-align:center;">Ph Number:</label>
    <input type="text" name="phone" placeholder="Enter your Phone" style="width:390px;margin-left:7px;" required/>
</div>

<div class="form-group">
    <label for="date" style="font-weight: bold; color:white; text-align:center;">Date of Birth:</label>
    <input type="date" name="dob" placeholder="Enter your DOB" style="width:390px;margin-left:7px;" required/>
</div>

<div class="form-group">
    <label for="image" style="font-weight: bold; color:white; text-align:center;">CV</label>
    <input type="file" name="file" style="width:390px;margin-left:7px;" required/>
  </div>

	


		   <input type="hidden" name="item_name" value="<%= name %>"/>
      <input type="hidden" name="item_agent_id" value="<%= agent_id %>"/>
      <input type="hidden" name="item_title" value="<%= title %>"/>
      <input type="hidden" name="item_require" value="<%= require %>"/>
      <input type="hidden" name="item_apply" value="<%= apply %>"/>
      <input type="hidden" name="item_hot" value="<%= hot %>"/>
      <input type="hidden" name="item_location" value="<%= location %>"/>
		
		<input type="submit" name="submit" value="Apply"/>
	</form>
	

	<script>
      
   
      const windowShut = () => {

      	setTimeout(()=>{

      		MessengerExtensions.requestCloseBrowser(function success() {
          	console.log("success");          
        	}, function error(err) {
          		console.log(err);
        	});


    	},2000);
   
        
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);      
     

  </script>
	

</body>
</html>
