<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>STCW courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    	.course{
    		width:370px;   
    		border:1px solid black;
        background-color: lightblue;
         		
    	}
    	
    </style>
 </head>

  <body>
  <h1>STCW courses</h1>
  <p><a href="../cart">View register</a> | <a href="../emptycart">Empty </a></p>


  <% data.forEach(function(course){ %>

  
    <div class="course">

      <h3>Course Name:  <%= course.courses %></h3>
      <p>Training Center Name: <%= course.name %><p>
      <p>Start Date: <%= course.date %><p>
       <p>End Date: <%= course.end %><p>
     <p>  Course Detail: <textarea  name="w3review" rows="7" cols="38" style="background-color: lightblue; border-color:black;text-align: justify;"><%= course.detail %>  </textarea><p>
     <p>Duration:<%= course.duration %><p>
      <p>Center Address<%= course.address %><p>
      <p>Course fee: <%= course.price %></p>



  



<form action="../cart" method="post">
      <input type="hidden" name="item_id" value="<%= course.id %>"/>
      <input type="hidden" name="item_name" value="<%= course.name %>"/>
      <input type="hidden" name="item_courses" value="<%= course.courses %>"/>
      <input type="hidden" name="item_date" value="<%= course.date %>"/>
      <input type="hidden" name="item_end" value="<%= course.end %>"/>
      <input type="hidden" name="item_detail" value="<%= course.detail %>"/>
      <input type="hidden" name="item_duration" value="<%= course.duration %>"/>
     <input type="hidden" name="item_address" value="<%= course.address %>"/>
      <input type="hidden" name="item_price" value="<%= course.price %>"/>
      <input type="submit" name="submit" value="Register" style="margin-left: 105px;  background-color: #008CBA; color: white; padding: 10px 20px;  text-align: center; text-decoration: none; display: inline-block;   width=10px;" />
      </form>   

	    
  	</div>

     
  <% }); %>
  
  

  

 </body>

</html>