<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>STCW courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
    	.course{
    		width:350px;   
    	
      
     
         		
    	}
    	
    </style>
 </head>

  <body>
  
  

  <% data.forEach(function(course){ %>

   <div class="container p-3 my-3 bg-primary text-white">
    <div class="course">
    <h1>STCW courses</h1>
      <p>Course Name:  <%= course.courses %></p>
      <p>Training Center Name: <%= course.name %><p>
      <p>Start Date: <%= course.date %><p>
       <p>End Date: <%= course.end %><p>
     <p>  Course Detail: <textarea  name="w3review" rows="7" cols="44" style="background-color: #129bce; border-color:black;text-align: justify;"><%= course.detail %>  </textarea><p>
     <p>Duration:<%= course.duration %><p>
      <p>Center Address<%= course.address %><p>
      <p>Course fee: <%= course.price %></p>



  



<form action="../show" method="post">
      <input type="hidden" name="item_id" value="<%= course.id %>"/>
      <input type="hidden" name="item_courses" value="<%= course.courses %>"/>
      <input type="hidden" name="item_name" value="<%= course.name %>"/>
      <input type="hidden" name="item_tc_id" value="<%= course.tc_id %>"/>
      <input type="hidden" name="item_duration" value="<%= course.duration %>"/>
      <input type="hidden" name="item_price" value="<%= course.price %>"/>
      <input type="submit" name="submit" value="Register" style="margin-left: 105px;  background-color: #008CBA; color: white; padding: 10px 20px;  text-align: center; text-decoration: none; display: inline-block;   width=10px;" />
      </form>   

	    
  	</div>
</div>
     
  <% }); %>
  
  

  

 </body>

</html>