<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View Seaman registered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      .item{
        width:370px;   
        
            
      }
      
    </style>
 </head>

  <body>
  

 
  <div class="container p-3 my-3 bg-primary text-white">
   <h1 style="color:white;font-weight: bold; text-align:center;font-size:19px;">All Jobs</h1>
   </div>
  <% data.forEach(function(item){ %>

    <div class="container p-3 my-3 bg-primary text-white">

    <div class="item">
 
      <label for="name" style="font-weight: bold; color:white; text-align:center;">User_Name:</label>
      <p> <%= item.name %></p> 
 
      <label for="email" style="font-weight: bold; color:white; text-align:center;">EMail:</label>
      <p> <%= item.email %></p> 

      <label for="phone" style="font-weight: bold; color:white; text-align:center;">Phone:</label>
      <p> <%= item.phone %></p> 

      <label for="dob" style="font-weight: bold; color:white; text-align:center;">Date:</label>
      <p> <%= item.dob %></p> 

      <label for="item_courses" style="font-weight: bold; color:white; text-align:center;">Course Name:</label>
      <p> <%= item.item_courses %></p> 
 
      <label for="item_name" style="font-weight: bold; color:white; text-align:center;">Training center Name:</label>
      <p> <%= item.item_name %></p>

      <label for="item_tc_id" style="font-weight: bold; color:white; text-align:center;">Training center id:</label>
      <p> <%= item.item_tc_id %></p>
     
     

      
    </div>
</div>
           <% }); %>
       
    </div>

 
 

  </body>

</html>