<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View Seaman registered</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

  <body>

 <style>
      .view{
        width:370px;   
        
            
      }
      
    </style>
 </head>

  <body>
  

 
  <div class="container p-3 my-3 bg-primary text-white">
   <h1 style="color:white;font-weight: bold; text-align:center;font-size:19px;">All seamen</h1>
   </div>
  <% data.forEach(function(view){ %>

    <div class="container p-3 my-3 bg-primary text-white">

    <div class="view">
 
      <label for="name" style="font-weight: bold; color:white; text-align:center;">User_Name:</label>
      <p> <%= view.name %></p> 
 
      <label for="email" style="font-weight: bold; color:white; text-align:center;">EMail:</label>
      <p> <%= view.email %></p> 

      <label for="phone" style="font-weight: bold; color:white; text-align:center;">Phone:</label>
      <p> <%= view.phone %></p> 

      <label for="dob" style="font-weight: bold; color:white; text-align:center;">Date:</label>
      <p> <%= view.dob %></p> 

      <label for="certificate" style="font-weight: bold; color:white; text-align:center;">Certificates</label>
      <p> <%= view.certificate %></p> 
 
      <label for="item_name" style="font-weight: bold; color:white; text-align:center;">Agent Name:</label>
      <p> <%= view.item_name %></p>

      <label for="item_agent_id" style="font-weight: bold; color:white; text-align:center;">Agent id:</label>
      <p> <%= view.item_agent_id %></p>
     
     

      
    </div>
</div>
           <% }); %>
       
    </div>

 
 

  </body>

</html>



