<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View Seaman registered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>View</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
  
    <th>Name</th>
    
    <th>EMail</th>
    <th>Phone</th>
    <th>Date</th>
    <th>Certificate</th>
    <th>Agent Name</th>
    <th>Agent Id</th>
    <th>Job title</th>
   

    
    
  </tr>


  <% data.forEach(function(view){ %>
     <tr>
     
       <td><%= view.name %></td>
      
       <td><%= view.email %></td>
      <td><%= view.phone %></td>
       <td><%= view.dob %></td>
       <td><%= view.certificate %></td>
       <td><%= view.item_name %></td>
       <td><%= view.item_agent_id %></td>
       <td><%= view.item_title %></td>
       
     </tr>
  <% }); %>

	</table>
 
 

  </body>

</html>