<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View Seaman registered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .item{
        width:370px;   
        border:1px solid black;
        background-color: lightblue;
            
      }
      
    </style>
 </head>

  <body>
  <h1>View</h1>

 
  
 
 
 <div class="item">

      <h3> User_Name:  <%= item.name %></h3>
      <p>EMail: <%= item.email  %><p>
      <p>Phone: <%= item.phone %><p>
       <p> Date: <%= item.dob %><p>
     
     <p>Course Name:<%= item.item_courses %><p>
      <p>Training center Name:<%= item.item_name %><p>
      <p>Training center id: <%= item.item_tc_id %></p>
        <% }); %>
      
    </div>

     
 

  </body>

</html>